---
import '../../styles/global.css'
import Page from '../../layouts/page.astro';
---
<Page title="Books">
    <h3 style="margin-top: 0;">My favorite book is "Faster than the Speed of Love" by Brian Griffin</h3>
    <li><a href="https://www.amazon.com/Observations-Human-Condition-Paige-Parker-ebook/dp/B0DPS6FGMK" target="_blank">
        [Observations on the Human Condition]</a>
        - Paige Parker: "They must suffer! They must pay! Don't you understand? They won't understand unless they suffer. My God, that's the reason, isn't it?"
    </li>
    <p></p>
    <li><a href="https://a.co/d/hNv00DA" target="_blank">
        [Animal Farm]</a>
	    - George Orwell: "It was Clover's voice. She neighed again, and all the animals broke into a gallop and rushed into the yard. Then they saw what Clover had seen. It was a pig walking on his hind legs."
    </li>
    <p></p>
    <li><a href="https://a.co/d/0g6738HY" target="_blank">
        [The Metamorphosis]</a>
        - Franz Kafka: " <i>"Dead?"</i> said Mrs. Samsa, looking questioningly at the charwoman ... <i>"I should say so,"</i> said the charwoman, proving her words by pushing Gregor's corpse a long way to one side with her broomstick ... "Well," said Mr. Samsa, <i>"now thanks be to God."</i> "
    </li>
    <p></p>

    <p>None of these links are affiliate.</p>
</Page>

<style>
    a {
        color: #C4714E;
        font-weight: bold;
        text-decoration: none;
    }
    a:hover {
        background-color: #E8E1D8;
        color: #A05535;
    }
</style>
