---
import '../../styles/global.css'
import Page from '../../layouts/page.astro';
---
<Page title="Books">
    <h3 style="margin-top: 0;">better for me than instagram reels</h3>
    <li><a href="https://www.amazon.com/Observations-Human-Condition-Paige-Parker-ebook/dp/B0DPS6FGMK" target="_blank">
        [Observations on the Human Condition]</a>
        - Paige Parker: "They must suffer! They must pay! Don't you understand? They won't understand unless they suffer. My God, that's the reason, isn't it?"
    </li>
    <p></p>
    <p>None of these links are affiliate.</p>
</Page>

<style>
    a {
        color: #98971a;
        font-weight: bold;
        text-decoration: none;
    }
    a:hover {
        background-color: #504945;
        color: #b8bb26;
    }
</style>
