@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

html {
    background-color: #191724;
}

body {
    color: #e0def4;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.signature-container{
    color: #ebbcba;
    padding-top: 1rem;
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-style: Italic;
    font-weight: 400;
    font-size: 2.6rem;
}

@media (max-width: 768px) {
    .signature-container {
        font-size: 2rem;
        padding-top: 0.5rem;
    }
    .logo-container {
        font-size: 1.2rem;
    }
    body {
        font-size: 0.9rem;
    }
}

.logo-container{
    color: #908caa;
    padding-top: .2rem;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    text-decoration: none;
}
.logo-container:hover{
    color: #e0def4;
    background-color: #403d52;
}

.external-links{
    color: #31748f;
    font-weight: bold;
    text-decoration: none;
}
.external-links:hover{
    color: #9ccfd8;
    background-color: #403d52;
}
.internal-links {
    color: #eb6f92;
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
}
.internal-links:hover {
    background-color: #403d52;
    color: #ebbcba;
}

.internal-links-page {
    color: #f6c177;
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
}
.internal-links-page:hover {
    background-color: #403d52;
    color: #ebbcba;
}
