@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

html {
    background-color: #282828;
}

body {
    color: #d5c4a1;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.signature-container{
    color: #8ec07c;
    padding-top: 1rem;
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-style: Italic;
    font-weight: 400;
    font-size: 2.6rem;
}

.logo-container{
    color: #a89984;
    padding-top: .2rem;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    text-decoration: none;
}
.logo-container:hover{
    color: #d5c4a1;
    background-color: #504945;
}

.external-links{
    color: #98971a;
    font-weight: bold;
    text-decoration: none;
}
.external-links:hover{
    color: #b8bb26;
    background-color: #504945;
}
.internal-links {
    color: #d65d0e;
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
}
.internal-links:hover {
    background-color: #504945;
    color: #fe8019;
}