---
import '../styles/global.css'
import Page from "../layouts/page.astro";
---
<Page title="Archive">
    I put you on
    <br>
    <br>
    <div class="listContainer">
    <li><a href="/archive-bin/podcasts">[podcasts]</a></li>
    <li><a href="/archive-bin/music">[music]</a></li>
        <li><a href="/archive-bin/books">[books]</a></li>
    </div>
</Page>
<style>
    a {
        color: #E6C384;
        font-weight: bold;
        text-decoration: none;
    }
    a:hover {
        color: #C0A36E;
        background-color: #2A2A37;
    }
    .listContainer {
        display: flex;
        flex-direction:column;
        gap: .5rem;
    }
</style>
