---
import '../styles/global.css'
import Page from "../layouts/page.astro";
---

<Page title="Home">
    This site is a <span style="color:#fb4934; font-weight:bold;">work in progress.</span> In the meantime, check out my <a href="./projects.astro" class="internal-links" style="font-size: 1rem;">[projects!]</a>
    <div class="padded">
    You can also find me on:
    </div>
    <div style="display:flex; flex-direction:column">
    <a href="https://www.github.com/Ronxvier" target="_blank" class="external-links">[Github]</a>
    <a href="https://www.linkedin.com/in/ronel-xavier-a0a574178/"target="_blank" class="external-links">[LinkedIn]</a>
    <a href="https://www.medium.com/@ronxvier"target="_blank" class="external-links">[Medium]</a>
    <a href="https://strava.app.link/CJsXBgVKmVb"target="_blank" class="external-links">[Strava]</a>
    <a href="https://www.instagram.com/ronxvier"target="_blank" class="external-links">[Instagram]</a>
    <a href="https://ultrarunning.com/calendar/runner/view/Ronel-Xavier-23be9a98-fab8-11ef-beeb-8e80a249bae3"target="_blank" class="external-links">[Ultra Running Magazine]</a>
    </div>
</Page>


<style>
    .padded{
        padding-top: 1rem;
        padding-bottom: 0.2rem;
    }
</style>