---
import "../styles/global.css"
import Page from "../layouts/page.astro";
---
<Page title="Projects">
<li><a href="https://github.com/Ronxvier/VimMotions" target="_blank" class="projectlink">[VimMotions]</a>: Chrome Extension that allows for Vim-style keybindings for efficient text navigation and editing in browser inputs, with 1,000+ installs on the Chrome Webstore.</li>
<p></p>
<li><a href="https://github.com/Ronxvier/Algorithms" target="_blank" class="projectlink">[Algorithms]</a>: Implementations, notes, and documentation of Data Structures and Algorithms covered by Robert Sedgewick's Algorithms 1 course, all written in Java.</li>
<p></p>
<li><a href="https://github.com/Ronxvier/Interpreters" target="_blank" class="projectlink">[Interpreters]</a>: Notes and interpreter implementations following Robert Nystrom's Crafting Interpreters, written in Java.</li>
<p></p>
<li><a href="https://www.medium.com/@ronxvier" target="_blank" class="projectlink">[Medium]</a>: I write articles about computer stuff.</li>
<p></p>
<li><a href="https://github.com/Ronxvier/Shali" target="_blank" class="projectlink">[Shali]</a>: CLI notes app with AES-GCM-SIV encryption, built in Rust.</li>
<p></p>
<li><a href="https://github.com/Ronxvier/ymir.nvim" target="_blank" class="projectlink">[ymir.nvim]</a>: A snowy mountain sunset theme for Neovim.</li>
<p></p>
<li><a href="https://github.com/Ronxvier/dent.nvim" target="_blank" class="projectlink">[dent.nvim]</a>: Small indentation helper for Neovim.</li>
<p></p>
<li><a href="https://github.com/Ronxvier/mocha.nvim" target="_blank" class="projectlink">[mocha.nvim]</a>: Java quality of life changes for Neovim.</li>
<p></p>
<li><a href="https://github.com/Ronxvier/flick" target="_blank" class="projectlink">[flick]</a>: Lightweight AI-powered terminal assistant for natural language project scaffolding and coding, created before the release of gemini-cli.</li>
<p></p>
<li><a href="https://github.com/Ronxvier/MiloCam" target="_blank" class="projectlink">[MiloCam]</a>: facebook/detr-resnet-50 powered Schnawg-Cam.</li>
<p></p>
<li><b>NCSU Grand Challenges</b>: Proposed a plan for a community-led urban infrastructure reporting app, winning first place in the NC State's Grand Challenges of Engineering Poster competition.</li>
<p>Find more projects on Github!</p>
</Page>
<style>
    .projectlink {
        text-decoration: none;
        font-weight: bold;
        color: #d65d0e;
    }
    .projectlink:hover {
        background-color:#504945;
        color: #fe8019;
    }
</style>
