---
import '../styles/global.css'
---
<div class="sidebar-container">
    <div class="signature-container">
        Ronel Xavier
    </div>
    <a href="../" class="logo-container">
        [ronxvier]
    </a>

    <div class="internal-container">
        <a href="../projects" class="internal-links">[projects]</a>
        <a href="../archive" class="internal-links">[archive]</a>
        <a href="../about" class="internal-links">[about]</a>
    </div>
</div>





<style>
    .sidebar-container {
        padding-left:1rem;
        padding-right:2rem;
        min-width: 2.2rem;
	flex-shrink: 0;
    }

    .internal-container {
        padding-top: 1rem;
        display: flex;
        gap: 0.2rem;
        flex-direction: column;
    }

</style>
