---
import '../styles/global.css'
---
<div class="sidebar-container">
    <div class="signature-container">
        Ronel Xavier
    </div>
    <a href="../" class="logo-container">
        [ronxvier]
    </a>

    <div class="internal-container">
        <a href="../projects" class="internal-links">[projects]</a>
        <a href="../archive" class="internal-links">[archive]</a>
    </div>
</div>





<style>
    .sidebar-container {
        padding-left:1rem;
        padding-right:2rem;
        min-width: 18%;
    }

    .external-container {
        display: flex;
        flex-direction: column;
    }
    .internal-container {
        padding-top: 1.5rem;
        display: flex;
        flex-direction: column;
    }
    .internal-links {
        color: #b16286;
        text-decoration: none;
    }
    .internal-links:hover {
        color: #d3869b;
    }
    .external-links{
        color: #83a598;
        text-decoration: none;
    }
    .external-links:hover{
        color: #458588;
    }
</style>
