---
import Sidebar from "../components/sidebar.astro";
const { title } = Astro.props;
---
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="layout-container">
    <Sidebar></Sidebar>
    <div class="content">
        <h1>{title}</h1>
        <div class="snawg"><slot/></div>
    </div>
</div>

<style>
    .layout-container {
        display: flex;
        flex-direction: row;
    }
    .content {
        margin-top: 3rem;
        flex: 1;
    }
    h1 {
        color: #d5c4a1;
    }

    .snawg {
        padding-right: 3.5rem;
    }

    @media (max-width: 768px) {
        .layout-container {
            flex-direction: column;
        }
        .content {
            margin-top: 1.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .snawg {
            padding-right: 0;
        }
    }
</style>
